body {
}


table {
    border-collapse: separate;
    /*border-spacing: 2px;*/
    border: solid black 2px;
    border-radius: 10px;
    /*border-radius: 6px;*/
    /*-moz-border-radius: 6px;*/
}

th, td {
    border-collapse: collapse;
}

th {
    text-align: center;
    color: crimson;
    background-color: rgba(23, 23, 31, 0.49);
}

td {
    margin: 0px;
    padding: 5px;
    text-align: center;
    border: 1px solid #080808;
}

td.hover01:hover {
        background-color: yellow;
}



